<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Movies Juan Moreno - Agregar actuación</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="icon" type="image/ico" href="/favicon.ico">
  </head>

  <body>

    <section  class="contenedorApp">
      <%-include('./partials/header.ejs')%>

     <main class="contenedorMain">

      <br>

      <form action="/peliculas/create" method="POST" class="createForm">
        <label for="movie">Selecciona una pelicula:
          <select id="movie" name="movie" class="inputCreateForm">
            <% peliculas.forEach(pelicula => { %>
              <option value=<%= pelicula.id %>><%= pelicula.title %> </option>
            <% }) %>
          </select>
          
        </label>
        <label for="actores">Selecciona un/a actor/actriz:
          <select id="actores" name="actores" class="inputCreateFormActores
          ">
            <% actores.forEach(actor => { %>
              <option value=<%= actor.id %>><%= actor.first_name + " " %><%= actor.last_name %> </option>
            <% }) %>
          </select>
        </label>
        <button type="submit" class="botonEnviarCreate">Enviar</button>
      </form>

    <br>
    <a href="/">Volver al inicio</a>
    <br>
    </main>


    <%-include('./partials/footer.ejs')%>
  </section>

  </body>
</html>
