<!DOCTYPE html>
<html>
  <head>
    <title>Detalle NOMBREPELI</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <section  class="contenedorApp">
     <%-include('./partials/header.ejs')%>

     <main class="contenedorMain">

         <br>
      <p>Editaste la pelicula "<%= peliculaParaEditar.title %>" exitosamente!</p>
      <p>Ya se encuentra actualizada en nuestro catálogo</p>
      <br>
       <br>
        <h1><%= peliculaParaEditar.title %> </h1>
        <br>
        <p>Rating: <%= peliculaParaEditar.rating %> </p>
        <p>Awards: <%= peliculaParaEditar.awards %> </p>
        <p>Estreno: <%= peliculaParaEditar.release_date %> </p>
        <p>Duración: <%= peliculaParaEditar.length+ " minutos" %> </p>

        <br>
        <a href="/peliculas/editForm/<%= peliculaParaEditar.id %> ">Editar esta pelicula</a>
        <br>
        <a href="/">Eliminar esta pelicula</a>
        <br>
        <a href="/peliculas">Todas las peliculas</a>
        <br>
        <a href="/">Volver al inicio</a>
        <br>


      </main>

  <%-include('./partials/footer.ejs')%>
  </section>

  </body>
</html>